africastalking==1.2.9
asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
coverage==7.9.1
cryptography==45.0.4
Django==5.2.3
djangorestframework==3.16.0
gunicorn==23.0.0
idna==3.10
josepy==2.0.0
mozilla-django-oidc==4.0.1
packaging==25.0
pycparser==2.22
python-dotenv==1.1.1
requests==2.32.4
schema==0.7.7
setuptools==78.1.1
sqlparse==0.5.3
urllib3==2.5.0
wheel==0.45.1
